@model NutriAnimal.Web.ViewModels.Product.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="jumbotron bg-light nutri-border border-info rounded w-75 pb-3 container-fluid ">

        <h1 class="display-4 text-center font-weight-bolder">@Model.Name</h1>

        <hr class="nutri-hr" />
        <div class="d-sm-inline-flex d-flex justify-content-around ">

            <div class="d-flex flex-row flex-grow-1 ">

                <img class="img-thumbnail nutri-image" src="@Model.Picture">

            </div>

            <div class="d-flex flex-row-reverse flex-grow-1 pl-5 ">
                <div>
                    <p>@Model.Description</p>
                    <ul class="list-unstyled">

                        <li><h6>Price: $@Model.Price </h6></li>
                        <li><h6>Weight: @Model.Weight kg.</h6></li>
                        <li><h6>Brand: @Model.Brand</h6></li>


                    </ul>

                </div>

            </div>
        </div>

        <hr class="nutri-hr" />
        <div>
            @if (this.User.Identity.IsAuthenticated)
            {
                <button data-toggle="modal" data-target="#orderModal" class="btn btn-info">Buy</button>
            }
            <a href="/" class="btn btn-warning">Back</a>
            @if (this.User.IsInRole("Administrator"))
            {
                <a asp-area="Administration" asp-action="Edit" asp-route-id="@Model.Id" class="btn bg-danger">Edit</a>
            }
        </div>

        <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="orderModalLabel">Order - @Model.Name</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="order-form" action="/Product/Order" method="post">
                            <div class="form-group">
                                <label for="quantity" class="col-form-label font-weight-bold">Quantity</label>
                                <input type="number"
                                       class="form-control"
                                       id="quantity"
                                       name="quantity">
                                <input type="hidden" value="@Model.Id" name="productId" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="complete-order-button">Complete</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('#complete-order-button').click(function () {
                $('#order-form').submit();
            });
        </script>





