@model NutriAnimal.Web.ViewModels.Product.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="jumbotron bg-light nutri-border border-info rounded w-75 pb-3 container-fluid ">

    <h1 class="display-4 text-center font-weight-bolder">@Model.Name</h1>

    <hr class="nutri-hr" />
    <div class="d-sm-inline-flex d-flex justify-content-around ">

        <div class="d-flex flex-row flex-grow-1 ">

            <img class="img-thumbnail nutri-image" src="@Model.Picture">

        </div>

        <div class="d-flex flex-row-reverse flex-grow-1 pl-5 ">
            <div>
                <p>@Model.Description</p>
                <ul class="list-unstyled">

                    <li><h6>Price: $@Model.Price </h6></li>
                    <li><h6>Weight: @Model.Weight kg.</h6></li>
                    <li><h6>Brand: @Model.Brand</h6></li>


                </ul>

            </div>

        </div>
    </div>

    <hr class="nutri-hr" />
    <div>
        <button type="button" class="btn btn-info">Buy</button>
        <a href="/" class="btn btn-warning">Back</a>
        @if (this.User.IsInRole("Administrator"))
        {
            <a asp-area="Administration" asp-action="Edit" asp-route-id="@Model.Id" class="btn bg-danger">Edit</a>
        }
    </div>


</div>