@model NutriAnimal.Services.Pagination.PaginatedList<NutriAnimal.Data.Models.Product>

@{
    ViewData["Title"] = "GetFatBurners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron  rounded w-75 pb-3 container-fluid bg-light ">

    <h1 class="display-4 text-center font-weight-bold">Fat Burners</h1>
    <hr class="nutri-hr">


    @if (this.User.Identity.IsAuthenticated)
    {


        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p class="font-weight-bold">
                    Find by name: <input class="rounded shadow mx-3" type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-info" />

                </p>
            </div>
        </form>






        <hr class="nutri-hr">


        @for (int i = 0; i < Model.Count(); i += 3)
        {

            <div class="row  mb-4 pb-5 pt-4 d-flex justify-content-center">
                @for (int j = i; j < i + 3; j++)
                {

                    if (j < Model.Count())
                    {

                        <div class="product col-md-4">

                            <div class="image-holder d-flex justify-content-center">

                                <a href="/Product/Details/@Model[j].Id" class="btn ">
                                    <img class="img-thumbnail nutri-image " src="@Model[j].Picture">
                                </a>


                            </div>

                            <div>
                                <a href="/Product/Details/@Model[j].Id" class="text-center">

                                    <ul class="list-unstyled font-weight-bold text-info">

                                        <li>
                                            @Model[j].Name
                                        </li>
                                        <li>
                                            $ @Model[j].Price
                                        </li>
                                    </ul>

                                </a>
                            </div>



                        </div>



                    }
                    else
                    {
                        <div class="nutri-empty-div col-md-4">
                        </div>
                    }


                }

            </div>
            <hr class="nutri-hr">
        }
        <div class="d-flex justify-content-between">
            <div>
                <a class="btn btn-warning" href="/">Back to Home </a>
            </div>
            <div class="d-flex justify-content-end">
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }

                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-info @prevDisabled">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-info mx-3  @nextDisabled">
                    Next
                </a>
            </div>

        </div>



    }
    else
    {
        <p><a href="/Identity/Account/Login">Login</a> , if you have an account.</p>
        <p><a href="/Identity/Account/Register">Register</a> to gain maximum user experience.</p>
    }






</div>
